html
  head
    title mi vista con jade
  body

  - var arreglo = [1,2,3,4,5,6,7];

  - for(var i=0;i<arreglo.length;i++)
      p= arreglo[i]
    

each item in arreglo
        p= item
          case item
            when 1
              p es uno
            when 2
              p es dos
            when 3
              p es tres
            when 4
              p es cuatro
            when 5
              p es cinco
            default
              p no es ninguno



  p.
      Hola por favor dar click a #[a(href ="http://www.google.com" ) este link] para redirijirse

  