html
  head
    title mi vista con jade
  body

  - var arreglo = [1,2,3,4,5];

  - for(var i=0;i<arreglo.length;i++)
  
    p= arreglo[i]

  p.
      Hola por favor dar click a #[a(href ="http://www.google.com" ) este link] para redirijirse

  